<%- include('../header.ejs') %>
<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <ul>
                            <li class="active"><a href="/admin/dashboard" class="active">Dashboard</a></li>
                            <li><a href="/admin/createblog">Create Blogs</a></li>
                            <li><a href="/admin/blogdisplay">Blogs display</a></li>
                            <li><a href="/admin/createcategory">Craete Category</a></li>
                            <li><a href="/admin/displaycategory">Display Category</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/curd/contacttable">Contacts</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>   
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <h1 style="font-family: 'Mochiy Pop One', sans-serif;">Welcome <%= n1 %></h1>
                        <p style="font-family: 'Dancing Script', cursive;">Email: <%= e %></p>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../footer.ejs') %>