<%- include('./header.ejs') %>
  <section class="cmspage mtb-40">
    <div class="container">
      <h1 class="text-center mb-5" style="
      font-family: 'Mochiy Pop One', sans-serif;">About Us</h1>
      <div class="page-desc">
        <div class="container">
          <div class="row mt-5 mb-5">
            <div class="col-md-4">
              <img src="assets/images/aboutimg.jpg" class="w-100 images">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
              <p class="text-justify mt-3" style="font-family: 'Dancing Script', cursive;">There are many reasons to
                start a blog for personal use and only a handful of strong ones for business blogging. Blogging for
                business, projects, or anything else that might bring you money has a very straightforward purpose – to
                rank your website higher in Google SERPs, a.k.a. increase your visibility.

                As a business, you rely on consumers to keep buying your products and services. As a new business, you
                rely on blogging to help you get to potential consumers and grab their attention. Without blogging, your
                website would remain invisible, whereas running a blog makes you searchable and competitive.

                So, the main purpose of a blog is to connect you to the relevant audience. Another one.



              </p>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-md-12 mt-5">
              <div class="row">
                <div class="col-md-7">
                  <p class="text-justify mt-3" style="font-family: 'Dancing Script', cursive;">There are many reasons to
                    start a blog for personal use and only a handful of strong ones for business blogging. Blogging for
                    business, projects, or anything else that might bring you money has a very straightforward purpose – to
                    rank your website higher in Google SERPs, a.k.a. increase your visibility.
    
                    As a business, you rely on consumers to keep buying your products and services. As a new business, you
                    rely on blogging to help you get to potential consumers and grab their attention. Without blogging, your
                    website would remain invisible, whereas running a blog makes you searchable and competitive.
    
                    So, the main purpose of a blog is to connect you to the relevant audience. Another one.
    
    
    
                  </p>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                  <img src="assets/images/aboutimg2.jpg" alt="" class="images w-100">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('./footer.ejs') %>